* {
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  h1 {
    font-size: 20px;
  }
}
h1:hover {
  transition: 0.5s;
  color: #20C997;
}

.header {
  display: flex;
  justify-content: space-around;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
.header .header-brand {
  color: #fff;
  font-size: 3rem;
}
.header .header-brand:hover {
  color: #20C997;
}
.header .header-navbar {
  display: flex;
}
.header .header-navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-navbar ul li {
  align-items: center;
  text-align: center;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0;
  letter-spacing: 5px;
}
.header .header-navbar ul li .active {
  color: #20C997;
}
.header .header-navbar ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header .header-navbar ul li a:hover {
  color: #20C997;
}
.header .header-social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 650px) {
  .header .header-social-media ul {
    display: none;
  }
}
.header .header-social-media li {
  margin: 0 1rem;
}
.header .header-social-media li a:hover {
  color: #fff;
}

.recarregar i:hover {
  color: #20C997;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 650px) {
  .gallery {
    flex-direction: column;
  }
}
.gallery-card {
  width: 31%;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
@media (max-width: 650px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #20C997;
}
.gallery-card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gallery-card-btn:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid #20C997;
  background-color: rgb(255, 255, 255);
  color: #000;
  opacity: 0.7;
}
.gallery #card-1 {
  background-image: url("../img/../img/animais.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-1:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/animais.jpg");
}
.gallery #card-2 {
  background-image: url("../img/../img/arquitetura.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-2:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/arquitetura.jpg");
}
.gallery #card-3 {
  background-image: url("../img/../img/cidades.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-3:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/cidades.jpg");
}
.gallery #card-4 {
  background-image: url("../img/../img/decoracao.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-4:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/decoracao.jpg");
}
.gallery #card-5 {
  background-image: url("../img/../img/esportes.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-5:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/esportes.jpg");
}
.gallery #card-6 {
  background-image: url("../img/../img/natureza.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-6:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/natureza.jpg");
}
.gallery #card-7 {
  background-image: url("../img/../img/paisagem.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-7:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/paisagem.jpg");
}
.gallery #card-8 {
  background-image: url("../img/../img/pessoas.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-8:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/pessoas.jpg");
}
.gallery #card-9 {
  background-image: url("../img/../img/refeicoes.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-9:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/refeicoes.jpg");
}
.gallery #card-10 {
  background-image: url("../img/../img/assistencia.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-10:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/assistencia.jpg");
}
.gallery #card-11 {
  background-image: url("../img/../img/lava-rapido.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-11:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/lava-rapido.jpg");
}
.gallery #card-12 {
  background-image: url("../img/../img/castelo.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-12:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/castelo.jpg");
}
.gallery #card-13 {
  background-image: url("../img/../img/peixes.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-13:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/peixes.jpg");
}
.gallery #card-14 {
  background-image: url("../img/../img/marvel.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-14:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/marvel.jpg");
}
.gallery #card-15 {
  background-image: url("../img/../img/cosplay.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-15:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/cosplay.jpg");
}
.gallery #card-16 {
  background-image: url("../img/../img/exercicios.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-16:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/exercicios.jpg");
}
.gallery #card-17 {
  background-image: url("../img/../img/natureza2.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-17:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/natureza2.jpg");
}
.gallery #card-18 {
  background-image: url("../img/../img/ceu.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-18:hover {
  background-size: 120%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/../img/ceu.jpg");
}

.owl-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  padding: 1.5rem 0;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
.owl-carousel .owl-nav {
  color: #20C997;
  padding: 0;
  font-size: 50px;
}
@media (max-width: 650px) {
  .owl-carousel .owl-nav {
    width: 0%;
    height: 0%;
    display: none;
  }
}
.owl-carousel .owl-nav button {
  width: 30px;
  height: 60px;
}
.owl-carousel .owl-nav span {
  border-radius: 10px;
  border: 2px solid #20C997;
}
.owl-carousel img {
  height: 500px;
  width: 205px;
  align-items: center;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .owl-carousel img {
    height: 100%;
    width: 100%;
  }
}

footer p {
  text-align: center;
  padding-bottom: 2rem;
}
footer p:hover {
  transition: 0.25s ease-in-out;
  font-size: 19px;
  filter: drop-shadow(5px 5px 3px #20C997);
}
footer p .span-2:hover {
  color: #20C997;
}
footer p .span-1 {
  font-weight: bold;
  color: #20C997;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 100%;
}
@media (max-width: 650px) {
  footer ul {
    display: none;
  }
}
@media (max-width: 650px) {
  footer ul {
    display: none;
  }
}
footer li {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer i:hover {
  transition: 0.5s;
  color: #20C997;
}

nav {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  border-radius: 20px;
  width: 32px;
  height: 2px;
  background: #20C997;
  margin: 8px;
}

@media (max-width: 650px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    list-style: none;
    display: flex;
    position: absolute;
    right: 0%;
    bottom: 72%;
    width: 100%;
    height: 20%;
    border-radius: 30px;
    background: #fff;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 2;
  }
  .nav-list a {
    font-size: 225%;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (min-width: 768px) {
  section {
    flex-direction: row;
  }

  li {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.footer-2 {
  margin-top: 50px;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */